# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
myenv/

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Migrations (optional - only if you want to ignore migrations, usually in early dev)
# kanakapp/migrations/

# Env files
.env
.env.*

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Node (if you're using JS tools)
node_modules/
